openapi: 3.0.1
info:
  title: FEDET Student Solidarity Grocery API
  version: 1.0.0
  description: API for managing student food distributions
servers:
  - url: https://fedet.truttmann.fr
    description: Production server
tags:
  - name: authentication
  - name: student
  - name: management
  - name: collect

paths:
  /auth/register:
    post:
      tags:
        - authentication
      summary: Register a new student
      operationId: registerStudent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Successful registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad request

  /auth/login:
    post:
      tags:
        - authentication
      summary: Login for both students and admins
      operationId: loginStudentAndAdmin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Incorrect credentials

  /student/profile:
    get:
      tags:
        - student
      summary: Get student profile information
      operationId: getProfile
      security:
        - bearerAuth: [ ]
      parameters:
        - name: email
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Profile data for student
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Student not found
    patch:
      tags:
        - student
      summary: Edit student profile
      operationId: editProfile
      security:
        - bearerAuth: [ ]
      parameters:
        - name: email
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentEditRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Requires ADMIN role for specific fields and STUDENT role for others
        '404':
          description: Student not found

  /students/{id}/card:
    post:
      tags:
        - student
      summary: Student Card Upload
      operationId: uploadStudentCard
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Student card uploaded successfully
        '400':
          description: Bad request - Invalid file format or size
        '401':
          description: Unauthorized - Requires student role
    get:
      tags:
        - student
      summary: Get Student Card Image
      operationId: getStudentCard
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Student card image retrieved successfully
          content:
            image/jpeg:
              schema:
                type: string
                format: binary

  /management/stats:
    get:
      tags:
        - management
      summary: Retrieve general statistics
      operationId: getStats
      security:
        - bearerAuth: [ ]
      parameters:
        - name: startDate
          in: query
          description: End date in YYYY-MM-DD format
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: End date in YYYY-MM-DD format
          required: false
          schema:
            type: string
            format: date
        - name: distributionId
          in: query
          description: Filter by distribution ID
          required: false
          schema:
            type: string
        - name: year
          in: query
          description: Filter by year
          required: false
          schema:
            type: integer
            example: 2025
        - name: month
          in: query
          description: Filter by month (1-12)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 9
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'

  /management/distributions:
    get:
      tags:
        - management
      summary: Get all distribution points
      operationId: getDistributions
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of distribution points
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Distribution'
    post:
      tags:
        - management
      summary: Create a new distribution point
      operationId: createDistribution
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributionCreateEditRequest'
      responses:
        '201':
          description: Distribution point created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Distribution'

  /management/distributions/{id}:
    patch:
      tags:
        - management
      summary: Update an existing distribution point
      operationId: updateDistribution
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributionCreateEditRequest'
      responses:
        '200':
          description: Distribution point updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Distribution'
    delete:
      tags:
        - management
      summary: Delete a distribution point
      operationId: deleteDistribution
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Distribution point deleted successfully

  /management/students:
    get:
      tags:
        - management
      summary: Retrieve the list of students (ADMIN only)
      operationId: getStudents
      security:
        - bearerAuth: [ ]
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: size
          in: query
          required: false
          schema:
            type: integer
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful retrieved list of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '403':
          description: Forbidden - Requires ADMIN role

  /management/visits:
    get:
      tags:
        - management
      summary: Retrieve the list of visits (ADMIN only)
      operationId: getVisits
      security:
        - bearerAuth: [ ]
      parameters:
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful retrieved list of visits
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Visit'
        '403':
          description: Forbidden - Requires ADMIN role

  /collect/scan:
    get:
      tags:
        - collect
      summary: Scan a student via their QR Code
      operationId: collectScan
      security:
        - bearerAuth: [ ]
      parameters:
        - name: qrCode
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Student found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '404':
          description: Student not found

  /collect/validate:
    post:
      tags:
        - collect
      summary: Validate a student's visit to the collection point
      operationId: collectValidate
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCollectRequest'
      responses:
        '200':
          description: Visit successfully validated
        '400':
          description: Bad request
        '401':
          description: Unauthorized

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Authorization: Bearer <token> (with role: admin or student)"

  schemas:
    LoginRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        token:
          type: string
        role:
          $ref: '#/components/schemas/Role'

    RegisterRequest:
      type: object
      properties:
        firstname:
          type: string
        lastname:
          type: string
        birthdate:
          type: string
          format: date
        email:
          type: string
        password:
          type: string
        formation:
          $ref: '#/components/schemas/Formation'
        graduation:
          $ref: '#/components/schemas/Graduation'
        isStudent:
          type: boolean
        isWorker:
          type: boolean
        household:
          type: integer

    Student:
      type: object
      properties:
        id:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        birthdate:
          type: string
          format: date
        email:
          type: string
        formation:
          $ref: '#/components/schemas/Formation'
        graduation:
          $ref: '#/components/schemas/Graduation'
        isStudent:
          type: boolean
        isWorker:
          type: boolean
        household:
          type: integer
        lastVisit:
          type: string
          format: date
        lastDistribution:
          type: string
        qrCode:
          type: string

    StudentEditRequest:
      type: object
      properties:
        firstname:
          type: string
        lastname:
          type: string
        birthdate:
          type: string
          format: date
        email:
          type: string
        formation:
          $ref: '#/components/schemas/Formation'
        graduation:
          $ref: '#/components/schemas/Graduation'
        isStudent:
          type: boolean
        isWorker:
          type: boolean
        household:
          type: integer
      required: [ ]

    StatsResponse:
      type: object
      properties:
        totalStudents:
          type: integer
        totalVisits:
          type: integer
        visitsToday:
          type: integer
        cardPayments:
          type: integer
        cashPayments:
          type: integer
        totalDistributions:
          type: integer
        totalFormations:
          type: integer
        visitsByDistribution:
          type: array
          items:
            $ref: '#/components/schemas/Stat'
        mostActiveFormations:
          type: array
          items:
            $ref: '#/components/schemas/Stat'
    Stat:
      type: object
      properties:
        name:
          type: string
        count:
          type: integer

    Distribution:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address:
          type: string
        isActive:
          type: boolean

    DistributionCreateEditRequest:
      type: object
      properties:
        name:
          type: string
        address:
          type: string
        isActive:
          type: boolean

    ValidateCollectRequest:
      type: object
      properties:
        studentId:
          type: string
        distributionId:
          type: string
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'

    Visit:
      type: object
      properties:
        student:
          $ref: '#/components/schemas/Student'
        visitDate:
          type: string
          format: date
        distribution:
          $ref: '#/components/schemas/Distribution'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'

    PaymentMethod:
      type: string
      enum:
        - CASH
        - CARD

    Formation:
      type: string
      enum:
        - "ASPIC"
        - "ISEN"
        - "SEATECH"
        - "ESADTPM"
        - "BTS PI"
        - "DUMONT"
        - "TOURRACHE"
        - "IEQT"
        - "BONAPARTE"
        - "CNAM"
        - "IFPVPS"
        - "KEDGE"
        - "S2T"
        - "GENIE BIOLOGIQUE"
        - "TECHNIQUE DE COMMUNICATION"
        - "STAPS"
        - "GEA"
        - "GEII"
        - "GMP"
        - "GIM"
        - "IAE"
        - "DROIT"
        - "ECO GESTION"
        - "INGEMEDIA"
        - "MMI"
        - "CAMONDO"
        - "CROIX ROUGE"
        - "PPA"
        - "CAMPUS EDUCTIVE"
        - "CONSERVATOIRE"
        - "CFA"
        - "ESGI"
        - "YNOV"
        - "AUTRE"
      x-enum-varnames:
        - ASPIC
        - ISEN
        - SEATECH
        - ESADTPM
        - BTS_PI
        - DUMONT
        - TOURRACHE
        - IEQT
        - BONAPARTE
        - CNAM
        - IFPVPS
        - KEDGE
        - S2T
        - GENIE_BIOLOGIQUE
        - TECHNIQUE_DE_COMMUNICATION
        - STAPS
        - GEA
        - GEII
        - GMP
        - GIM
        - IAE
        - DROIT
        - ECO_GESTION
        - INGEMEDIA
        - MMI
        - CAMONDO
        - CROIX_ROUGE
        - PPA
        - CAMPUS_EDUCTIVE
        - CONSERVATOIRE
        - CFA
        - ESGI
        - YNOV
        - AUTRE

    Graduation:
      type: string
      enum:
        - "BAC"
        - "BAC+2"
        - "BAC+3"
        - "BAC+5"
        - "BAC+8"
      x-enum-varnames:
        - BAC
        - BAC_2
        - BAC_3
        - BAC_5
        - BAC_8
    Role:
      type: string
      enum:
        - STUDENT
        - ADMIN